@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500&display=swap');

.header__info {
  display:flex;
  align-items: center;
  justify-content: space-between;
  background:black;
  padding:10px;
  font-family:'Roboto', sans-serif;
}

.header__info img {
  width:120px;
}

.header__links {
  width:100%;
}

.navigation__links {
  display:flex;
  color:white;
  list-style: none;
  font-size:16px;
  font-weight:400;
}

.navigation__links li {
  padding: 0 50px;
  margin-left: 2rem;
}