@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500&display=swap');

.sidebar {
  background:black;
  width:70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  min-height:100vh;
  padding: 12px;
}

.sidebar__copyright {
  color:white;
  font-family: 'Roboto', sans-serif;
  font-size:12px;
  writing-mode: vertical-lr; /* vertical text, left to right */
  transform: rotate(180deg);
}